@font-face {
    src: url('font-awesome-4.6.3/fonts/fontawesome-webfont.ttf');
}
.events {
    -fx-font-family: "b yekan";
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-border-insets: -1;
}
.h_line {
    -fx-stroke: blue;
    -fx-stroke-width: 2;
}
.column_caption {
    -fx-font-family: "b yekan";
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.row_caption {
    -fx-font-family: "b yekan";
    -fx-font-size: 14;
    -fx-font-weight: bold;
}