@font-face {
    src: url('font-awesome-4.6.3/fonts/fontawesome-webfont.ttf');
}
.event-box  {
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-alignment: center-left;
    -fx-font-family: tahoma;
    -fx-font-size: 12;
}
.event-box:hover  {
    -fx-background-color: lightsteelblue;
    -fx-alignment: top-left;
    -fx-font-size: 12;
}
.event-box:pressed  {
    -fx-background-color: steelblue;
}
.event-box:focused  {
    -fx-border-width: 3;
    -fx-font-weight: bold;
}
.event-next {
    -fx-border-color: lightsalmon;
    -fx-text-fill: black;
}
.event-now {
    -fx-border-color: orangered;
    -fx-text-fill:  black;
}
.event-previous {
    -fx-border-color: orange;
    -fx-text-fill: black;
}
.day_cell_big {
    -fx-alignment: top-left;
    -fx-pref-height: 60;
    -fx-pref-width: 70;
}
.day_cell_to_back {
    -fx-box-border: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.week_number_cell_big {
    -fx-pref-height: 60;
    -fx-pref-width: 60;
    -fx-font-size: 14;
}
.head {
    -fx-font-family: tahoma;
    -fx-font-size: 16;
}
.icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 14;
}
.week_events {
    -fx-font-family: "b titr";
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-border-width: 4;
    -fx-border-insets: 1 0 0 1;
}
.week_events_line {
    -fx-stroke: blue;
    -fx-stroke-width: 2;
}